
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
.dark{
    color: #252432;
}

/* header style */
.header{
    background-image: url(../Assets/Hero-bg.png);
    height: 458px;
}
/* Nav Style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 70px;
    padding: none;
}
nav ul{
    display: flex;
}
.nav-title{
    font-weight: 800;
    font-size: 25px;
    color:#4E47FF;
}
nav ul li {
    list-style: none;
}
.btn{
    background-color:#4E47FF ;
    font-weight: bold;
    color:white;
    padding: 15px 35px;
    border-radius: 7px;
    border: none;
}
/* div style */
div{
    text-align: center;
    padding-bottom: 70px;
}
/* banner style */
.banner-pic{
    width: 403px;
    height: 328px;
   
    
    border-radius: 48px;
}
.banner2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.banner-title{
    font-weight: bold;
    font-size: 35px;
}
.banner-con{
    text-align: left;
}
.action{
    padding: 20px 70px 50px 70px;
    
}
/* user */
.user{
    background-color: #d2d1ec;
    border-radius: 24px;
    margin-top: 50px;
    margin-left: 141px;
    margin-right: 150px;
    margin-bottom: 50PZ;
    height: 270px;
}
.user-title{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color:#252432;
}
.about-rate{
    display: flex;
    justify-content: center;
    gap: 152px;
}
.item-title{
    margin-bottom: 0px;
    font-weight: bold;
    color: #4E47FF;
    font-size: 50px;
    justify-content: center;
}
.s3{
    text-align: center;
    font-size: 35px;
    margin-top: 100px;
}
.star{
    display: flex;
    
}
.rating{
    display: flex;
    gap: 20px;
    justify-content: center;
    
    
}
.rate{
    padding-top: 24px;
    padding-left: 24px;
    box-sizing: border-box;
    box-shadow: 1px;
    
position: static;
width: 366.67px;
height: 290px;
box-sizing: border-box;
border: 1px solid rgb(242, 237, 237);
border-radius: 14px;

background: rgba(255, 255, 255, 0.5);

}
.rate-title  {
    margin-top: 0px;
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    padding-top: 0px;
}
.rate-comment{
    padding-top: 0px;
    margin-top: 0px;
    text-align: left;
}
.r-name{
    text-align: left;
    font-size: 10px;
    margin-left: 20px;
    color: #252432;
}
/* ready */
.ready{

    justify-content: center;
    align-items: center;
    background-color: #FFFF;
    margin-top: 71px;
    margin-bottom: 71px;
    margin-left: 150px;
    margin-right: 150px;
}
.ready-title{
    color: rgb(0, 0, 0);

font-size: 50px;
font-weight: 700;
line-height: 120%;
letter-spacing: 0%;
text-align: center;
margin-bottom: 0px;
}
.ready-para{
    /* Body Base */
color: rgba(0, 0, 0, 0.5);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 140%;
letter-spacing: 0%;
text-align: center;
}
.ready-btn{
    
    align-items: center;
    margin-bottom: 20px;
   

}
.ready-center{
    align-items: center;
}
.ready-img{
    border-radius: 48px;
}
/* form */
.form-title{
    font-size: 97px;
    font-weight: 700px;
    text-align: left;
    margin-left: 150px;
}
.form{
    display: flex;
    list-style: none;
    gap: 115px;
}
.contact-section{
    display: flex;
}
.avatar{
    display: flex;

}
.icon{
    border-radius: 9999px;
}
/* touch */
.form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input{
    margin-right: 150px;

}
/* form */
.email ,.name{
    /* Frame 27150 */
position: static;
width: 327px;
height: 10px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 10;
padding: 20px 32px 20px 32px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 10px 0px;
box-sizing: border-box;
border: 1px solid rgb(214, 221, 237);
border-radius: 10px;

background: rgb(255, 255, 255);
}
.mgs{
    /* Frame 27154 */
position: static;
width: 327px;
height: 135px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
gap: 10;
padding: 20px 32px 20px 32px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 10px 0px;
box-sizing: border-box;
border: 1px solid rgb(214, 221, 237);
border-radius: 10px;

background: rgb(255, 255, 255);
}
.t-btn{
    width: 327px;
    margin-top: 0px;
    


}
.box{
    margin-top: 70px;
    text-align: left;
    margin-bottom: 0px;
    
}
.p1{
    text-align: left;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 18px;
    font-weight: 500px;
}
.email,.name,.mgs{
    font-size: 20px;
    font-weight: 400px;
    margin-top: 0px;
}
.main{
    background-color: #F5F8FF;
}
.mgs{
    padding-top: 0px;
    padding-left: 3px;
    margin-top: 0px;
    
}
/* footer */
.footer-title{
    color: rgb(78, 71, 255);
font-family: Inter;
font-size: 100px;
font-weight: 900;
line-height: 121px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 0px;
}
.footer-des{
    /* Paragraph */
color: rgb(137, 135, 161);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
margin-top: 8px;
}
.footer-link{
    list-style: none;
    display: flex;
    gap: 48px;
    justify-content: center;
    
    
}
a{
    text-decoration: none;
    color: #8987A1;
}
button:hover {
  background-color: #70ca38;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

