
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
.dark{
    color: #252432;
}

/* header style */
.header{
    background-image: url(../Assets/Hero-bg.png);
}
/* Nav Style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 70px;
    padding: none;
}
nav ul{
    display: flex;
}
.nav-title{
    font-weight: 800;
    font-size: 25px;
    color:#4E47FF;
}
nav ul li {
    list-style: none;
}
.btn{
    background-color:#4E47FF ;
    font-weight: bold;
    color:white;
    padding: 15px 35px;
    border-radius: 7px;
    border: none;
}
/* div style */
div{
    text-align: center;
    padding-bottom: 70px;
}
/* banner style */
.banner-pic{
    width: 403px;
    height: 328px;
   
    
    border-radius: 48px;
}
.banner2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.banner-title{
    font-weight: bold;
    font-size: 35px;
}
.banner-con{
    text-align: left;
}
.action{
    padding: 20px 70px 50px 70px;
    
}
/* user */
.user{
    background-color: #d2d1ec;
    border-radius: 24px;
    margin-top: 50px;
    margin-left: 141px;
    margin-right: 150px;
    margin-bottom: 50PZ;
    height: 270px;
}
.user-title{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color:#4E47FF;
}
.about-rate{
    display: flex;
    justify-content: center;
    gap: 152px;
}
.item-title{
    margin-bottom: 0px;
    font-weight: bold;
    color: #4E47FF;
    font-size: 50px;
    justify-content: center;
}
.s3{
    text-align: center;
    font-size: 35px;
    margin-top: 100px;
}
.star{
    display: flex;
    
}
.rating{
    display: flex;
    gap: 20px;
    justify-content: center;
    
    
}
.rate{
    padding-top: 24px;
    padding-left: 24px;
    box-sizing: border-box;
    box-shadow: 1px;
    
position: static;
width: 366.67px;
height: 270px;
box-sizing: border-box;
border: 1px solid rgb(242, 237, 237);
border-radius: 14px;

background: rgba(255, 255, 255, 0.5);

}
.rate-title  {
    margin-top: 0px;
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    padding-top: 0px;
}
.rate-comment{
    padding-top: 0px;
    margin-top: 0px;
    text-align: left;
}
.name{
    text-align: left;
    font-size: 10px;
    margin-left: 20px;
    color: #252432;
}
/* form */
.form-title{
    font-size: 97px;
    font-weight: 700px;
    text-align: left;
    margin-left: 150px;
}